<!DOCTYPE HTML>

<html>
<head>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <header style="text-align: center; font-family:Georgia, 'Times New Roman', Times, serif;color:rgba(255, 255, 255, 0.87)"><h1>BasketBall Score Predictor</h1></header>
<div class="lay">
 <div > 
    
<form id="frm" action="/MYSCORE" method="POST">
 <input class="ipt" type="text" placeholder="name(optional)" name="Name" maxlength="20" autocomplete="off"><br>
    
    <input class="ipt" type="text" placeholder="height in ft" name="height" maxlength="3" autocomplete="off" required><br>
    <input class="ipt" type="text" placeholder="weight in KG" name="weight" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" required><br>
    <input class="ipt" type="text"  placeholder="total feild baskets made/(100)" name="successfields" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" required><br>
    <input class="ipt" type="text"   placeholder="total freethrows made/(100)" name="successfree" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' autocomplete="off" required><br>
    
    <button id="btn">PREDICT</button>
</form></div>
<div class="opt">

<h2 id="target"></h2>

</div></div>
</body>
<script> 
    $(function() { 
        $("input[name='age']").on('input', function(e) { 
            $(this).val($(this).val().replace(/[^0-9]/g, '')); 
        }); 
       
    }); 
</script>
<footer>

    &copy;2020 developed by Shivam Jadhav
</footer>
</html>
